<div class="btn-group" role="group">
<button type="button" class="btn btn-success bg-subtle dropdown-toggle" id="buyRefresh" style="opacity: 0.8" data-bs-toggle="dropdown" aria-expanded="false">
    Buy
</button>
<ul class="dropdown-menu" id="buyDrop "style="width: 300px;">
    <div class="input-group mb-3">
        <button class="btn btn-outline-success" id="buy" type="button">Buy</button>
        <select class="form-select" id="buycoin" aria-label="Example select with button addon">
        <option selected>Pick a coin...</option>
        {{#each coinsArray as |coin|}}
        <option class="buy-options" id="buy-{{coin.[0]}}" value="{{coin.[0]}}">{{coin.[0]}} | ${{coin.[1]}}</option>
        {{/each}}
    </select>
    </div>
    <div class="input-group mb-3" style="width: 150px;">
    <span class="input-group-text">Qty</span>
    <input type="text" class="form-control" id="quantity" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</ul>
</div>