<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-4 bg-warning text-start" style="--bs-bg-opacity: .5;">
      <h2>MARKET DASHBOARD</h2>
    </div>
    <div class="col-8 text-center">
      <h2>{{portfolio.portfolio_name}} PORTFOLIO</h2>
        <div style="width: 500px">
            <canvas id="chart"></canvas>
        </div> 
    </div>
  </div>
</div>

{{!-- <script> type="module" src="/js/main.js"</script> --}}