    <div class="container-fluid">
        <div class="row">
            <div class="col-6 text-center">Login
                <form>
                    <div class="mb-3">
                        <label for="email-login" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password-login" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-login">
                    </div>
                    <button type="submit" class="btn btn-warning" id="submit-login">Submit</button>
                </form>
            </div>
            <div class="col-6 text-center">Sign-up
                <form>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="email-signup" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password-signup" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-signup">
                    </div>
                    <button type="submit" class="btn btn-warning" id="submit-signup">Submit</button>
                </form>
            </div>
        </div>
    </div>
<script src="/js/login.js"></script>